{
    "swagger": "2.0",
    "info": {
      "version": "v1.0",
      "title": "Power BI Client"
    },
    "host": "api.powerbi.com",
    "schemes": [
      "https"
    ],
    "consumes": [],
    "produces": [
      "application/json"
    ],
    "paths": {
        "/v1.0/myorg/reports/{reportId}": {
            "delete": {
                "tags": [
                    "Reports"
                ],
                "summary": "Deletes the specified report from **My workspace**.",
                "description": "\n## Required Scope\n\nReport.ReadWrite.All\n<br><br>",
                "operationId": "Reports_DeleteReport",
                "consumes": [],
                "produces": ["application/json"],
                "parameters": [
                    {
                        "name": "reportId",
                        "description": "The report ID",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "ServicePrincipalProfileId",
                        "in": "header",
                        "type": "string",
                        "format": "uuid",
                        "x-ms-header-collection-prefix": "X-PowerBI-Profile-Id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "x-ms-examples": {
                    "Example": {
                        "parameters": {
                            "reportId": "5b218778-e7a5-4d73-8187-f10824047715"
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "deprecated": false
            }
        }
        }
      }
  
